
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mooli&family=Nabla&family=Nanum+Gothic:wght@700&family=Pacifico&family=Rajdhani&family=Roboto+Condensed:ital@1&family=Signika+Negative:wght@500&family=Skranji:wght@400;700&family=Titillium+Web:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(-25deg,#635e64 50%,#1b161b 50% ); */
    background-image: url(./images/w2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    align-items: center;
    position: absolute;
    top: 30%;
    font-size: 60px;
    color:whitesmoke;
    font-family: 'Nanum Gothic';
    text-shadow: 2px 2px #000000;
}
.box{
    align-items: center;
    width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.box>i{
    font-size: 20px;
    color: #777;
}
.box>input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
}
.sbt{
    border: none;
    outline: none;
    color: none;
}
.cbtn{
    
    border: 2px black solid;
    border-radius: 20px;
    outline: none;
    background-color: #4b3c5000;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.cpn{
    border: 2px black solid;
    border-radius: 20px;
    outline: none;
    background-color: #4b3c5000;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}
.span{
    text-align: center;
}
.card{
    position: absolute;
    
    bottom: 40px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
backdrop-filter: blur(10px);
border-radius: 20px;
border: 1px solid rgba(255,255,255,0.18);
box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
width: 500px;
}
.button{
    border: none;
    border-radius: 50px;
    outline: none;
    background-color:black;
    justify-content: center;
    align-items: center;
 
}
.locbt{
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media (max-width:600px) {
    .card{
        width: 300px;
    }
    .box{
        width: 320px;

    }
    h1{
        font-size: 30px;
    }
    .box>input{

        width: 320px;
    }
}

